.nav-flexcontainer {
    display: none;
}

.outer-container {
    width: 100vw;
    background-color: #333645;
    display: flex;
    border: solid 1px;
    border-top-color: black;
    border-bottom-color: white;
}

.nav-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 18px;
    margin-left: auto;
    margin-right: auto;
    padding-right: 15px;
    padding-left: 15px;
}

@media screen and (min-width: 768px) {
    .nav-container {
        width: 750px;
    }
}

@media screen and (min-width: 992px) {
    .nav-container {
        width: 950px;
    }
}

@media screen and (min-width: 1260px) {
    .nav-container {
        width: 1200px;
    }
}

.design-container,
.support-container,
.services-container,
.software-container,
.marketing-container,
.security-container {
    display: flex;
    position: absolute;
    background-color: #333645;
    color: #ffffff;
    text-align: center;
    padding-left: 18px;
    padding-right: 18px;
    border-right: 1px solid rgba(255, 255, 255, 0.1);
    border-left: 1px solid rgba(0, 0, 0, 0.25);
    flex: 1;
    justify-content: center;
}

.design-container a,
.support-container a,
.services-container a,
.software-container a,
.marketing-container a,
.security-container a {
    padding: 19px 0px 18px;
}

a {
    text-decoration: none;
    color: #ffffff;
}

.uppercase {
    text-transform: uppercase;
    text-align: center;
    list-style-type: none;
}

.small {
    font-size: 10px;
    padding-bottom: 1px;
}

.icon {
    font-size: 23px;
    padding-bottom: 10px;
}

.fa-code {
    color: #926fb1;
    font-size: 23px;
}

.fa-desktop {
    color: #4183d7;
    font-size: 23px;
}

.phone2 {
    transform: rotate(-45deg);
    color: #d64541;
    font-size: 23px;
}

.software {
    color: #67809f;
    font-size: 23px;
}

.fa-signal {
    color: #2ecc71;
    font-size: 23px;
}

.fa-shield-alt {
    color: #f62459;
    font-size: 23px;
}

.design-container:hover {
    background-color: #926fb1;
}

.design-container:hover .fa-code {
    color: white;
}

.design-container:hover .dropdown1-container {
    display: flex;
}

.support-container:hover {
    background-color: #4183d7;
}

.support-container:hover .fa-desktop {
    color: white;
}

.support-container:hover .dropdown2-container {
    display: flex;
}

.services-container:hover {
    background-color: #d64541;
}

.services-container:hover .phone2 {
    color: white;
}

.services-container:hover .dropdown3-container {
    display: flex;
}

.software-container:hover {
    background-color: #67809f;
}

.software-container:hover .software {
    color: white;
}

.software-container:hover .dropdown4-container {
    display: flex;
}

.marketing-container:hover {
    background-color: #2ecc71;
}

.marketing-container:hover .fa-signal {
    color: white;
}

.marketing-container:hover .dropdown5-container {
    display: flex;
}

.security-container:hover {
    background-color: #f62459;
}

.security-container:hover .fa-shield-alt {
    color: white;
}

.security-container:hover .dropdown6-container {
    display: flex;
}

.dropdown1-container {
    display: flex;
    position: relative;
    top: 50px;
    left: 0;
    right: 0;
    flex-direction: row;
    align-items: center;
    height: 45px;
    background-color: #79539a;
    color: #ffffff;
}

.dropdown2-container {
    display: none;
    flex-direction: row;
    align-items: center;
    height: 45px;
    background-color: #286abd;
    color: #ffffff;
}

.dropdown3-container {
    display: none;
    flex-direction: row;
    align-items: center;
    height: 45px;
    background-color: #bc2c28;
    color: #ffffff;
}

.dropdown4-container {
    display: none;
    position: relative;
    top: 100px;
    left: 0;
    right: 0;
    flex-direction: row;
    align-items: center;
    height: 45px;
    background-color: #526781;
    color: #ffffff;
}

.dropdown5-container {
    display: none;
    flex-direction: row;
    align-items: center;
    height: 45px;
    background-color: #25a25a;
    color: #ffffff;
}

.dropdown6-container {
    display: none;
    flex-direction: row;
    align-items: center;
    height: 45px;
    background-color: #de093f;
    color: #ffffff;
}

.drobdown-centre {
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
    padding-right: 15px;
    padding-left: 15px;
}

@media screen and (min-width: 768px) {
    .drobdown-centre {
        width: 750px;
    }
}

@media screen and (min-width: 992px) {
    .drobdown-centre {
        width: 950px;
    }
}

@media screen and (min-width: 1260px) {
    .drobdown-centre {
        width: 1200px;
    }
}

@media screen and (min-width: 992px) {
    .nav-flexcontainer {
        display: flex;
        flex-direction: column;
    }
}