* {
  font-family: Poppins, sans-serif;
  font-size: 16px;
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  margin: 0px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.upper {
  text-transform: uppercase;
}

.button-container {
  display: none;
}

.search-container2 {
  display: none;
}

.container-top, .topnav, .bottom-container, .menu-container, .container-phone {
  display: flex;
}

.outer {
  width: 100vw;
  padding: 18px 0;
  /*  background-color: red;*/
  margin: auto;
}

.inner {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  /*  background-color: blue;*/
}
@media screen and (min-width: 768px) {
  .inner {
    width: 750px;
  }
}
@media screen and (min-width: 992px) {
  .inner {
    width: 950px;
  }
}
@media screen and (min-width: 1260px) {
  .inner {
    width: 1200px;
  }
}

.container-top {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.logo-image {
  max-width: 100%;
  height: auto;
}

.phone-menu {
  display: flex;
  align-items: center;
}

.search-button2 {
  width: 63px;
  height: 56px;
  margin: 0px 0px 0px 20px;
  border-radius: 3px;
  color: #ffffff;
  background-color: #333645;
  border: 0;
  text-align: center;
  flex-basis: 100%;
}

.menu-position {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  padding-right: 20px;
  padding-top: 20px;
}

.menu-btn {
  width: fit-content;
  height: 63px;
  color: white;
  padding: 5px 14px;
  line-height: 1.5;
  margin-left: 20px;
  background-color: #151a1e;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.menu-btn .burger-container {
  position: relative;
  width: 100%;
  margin: auto 0;
}
.menu-btn .burger-container .menu-burger {
  display: block;
  position: relative;
  width: 33px;
  height: 3px;
  background-color: white;
}
.menu-btn .burger-container .menu-burger::before, .menu-btn .burger-container .menu-burger::after {
  content: "";
  position: absolute;
  left: 0;
  width: 33px;
  height: 3px;
  background-color: white;
}
.menu-btn .burger-container .menu-burger::before {
  content: "";
  transform: translateY(-8px);
}
.menu-btn .burger-container .menu-burger::after {
  content: "";
  transform: translateY(8px);
}
.menu-btn .menu-title {
  font-size: 0.75rem;
}

.menu {
  line-height: 12px;
  font-size: 12px;
}

.container-phone {
  align-items: center;
  padding-bottom: 3px;
  width: 32px;
  height: 32px;
}
.container-phone:hover {
  border-bottom: 3px solid #333645;
}

.phone {
  font-size: 32px;
  color: #333645;
  transform: rotate(-45deg);
}

.bottom-container {
  width: 100%;
  margin-top: 11px;
}

.search-container {
  display: flex;
}

.search-bar1 {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  outline: 1px solid rgba(255, 255, 255, 0.2);
  border: 2px solid rgba(0, 0, 0, 0.1);
  box-shadow: rgba(0, 0, 0, 0.075) 0px 1px 1px 0px inset;
  border-radius: 2px;
  padding: 5px 15px;
}

form {
  width: 100%;
}

.search-button {
  background: #ffffff;
  border-left: none;
  color: #333645;
  line-height: 47px;
  font-size: 20px;
  outline: none;
  border: 0;
}

.button1 {
  display: inline;
  text-align: center;
  height: 56px;
  width: 141px;
  border-radius: 3px;
  font-size: 18px;
  padding: 5px 15px 5px 15px;
  text-align: center;
  line-height: 46px;
  letter-spacing: 0.4px;
  color: #ffffff;
  background-color: #4183d7;
  box-shadow: none;
  border-color: #4183d7;
  text-transform: uppercase;
  border: 0;
}

.button1:hover {
  background-color: #286abd;
}

.button2 {
  display: inline;
  height: 56px;
  width: 149px;
  border-radius: 3px;
  font-size: 18px;
  padding: 5px 15px 5px 15px;
  text-align: center;
  line-height: 46px;
  letter-spacing: 0.4px;
  color: #ffffff;
  background-color: #999aa2;
  box-shadow: none;
  margin-left: 20px;
  text-transform: uppercase;
  border: 0;
}

.button2:hover {
  background-color: #84858f;
}

.fa-paper-plane, .fa-mouse {
  font-size: 23pxx;
}

.search-button2 {
  font-size: 24px;
  background-color: #999aa2;
}

.search-button2:hover {
  background-color: #84858f;
}

form {
  display: inline;
}

@media screen and (min-width: 768px) {
  .search-container2 {
    display: flex;
  }
  .search-container2 .search-form {
    display: none;
  }

  .bottom-container {
    display: none;
  }

  .container-phone {
    display: none;
  }
}
@media screen and (min-width: 992px) {
  .button-container {
    display: flex;
  }
}
@media screen and (min-width: 1260px) {
  .search-form input {
    display: flex;
    min-width: 100px;
  }
}
.nav-flexcontainer {
  display: none;
}

.outer-container {
  width: 100vw;
  background-color: #333645;
  display: flex;
  border: solid 1px;
  border-top-color: black;
  border-bottom-color: white;
}

.nav-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-size: 18px;
  margin-left: auto;
  margin-right: auto;
  padding-right: 15px;
  padding-left: 15px;
}
@media screen and (min-width: 768px) {
  .nav-container {
    width: 750px;
  }
}
@media screen and (min-width: 992px) {
  .nav-container {
    width: 950px;
  }
}
@media screen and (min-width: 1260px) {
  .nav-container {
    width: 1200px;
  }
}

.design-container, .support-container, .services-container, .software-container, .marketing-container, .security-container {
  display: flex;
  background-color: #333645;
  color: #ffffff;
  text-align: center;
  padding-left: 18px;
  padding-right: 18px;
  border-right: 1px solid rgba(255, 255, 255, 0.1);
  border-left: 1px solid rgba(0, 0, 0, 0.25);
  flex: 1;
  justify-content: center;
}
.design-container a, .support-container a, .services-container a, .software-container a, .marketing-container a, .security-container a {
  padding: 19px 0px 18px;
}

a {
  text-decoration: none;
  color: #ffffff;
}

.uppercase {
  text-transform: uppercase;
  text-align: center;
  list-style-type: none;
}

.small {
  font-size: 10px;
  padding-bottom: 1px;
}

.icon {
  font-size: 23px;
  padding-bottom: 10px;
}

.fa-code {
  color: #926fb1;
  font-size: 23px;
}

.fa-desktop {
  color: #4183d7;
  font-size: 23px;
}

.phone2 {
  transform: rotate(-45deg);
  color: #d64541;
  font-size: 23px;
}

.software {
  color: #67809f;
  font-size: 23px;
}

.fa-signal {
  color: #2ecc71;
  font-size: 23px;
}

.fa-shield-alt {
  color: #f62459;
  font-size: 23px;
}

.design-container:hover {
  background-color: #926fb1;
}
.design-container:hover .fa-code {
  color: white;
}
.design-container:hover .dropdown1-container {
  display: flex;
}

.support-container:hover {
  background-color: #4183d7;
}
.support-container:hover .fa-desktop {
  color: white;
}
.support-container:hover .dropdown2-container {
  display: flex;
}

.services-container:hover {
  background-color: #d64541;
}
.services-container:hover .phone2 {
  color: white;
}
.services-container:hover .dropdown3-container {
  display: flex;
}

.software-container:hover {
  background-color: #67809f;
}
.software-container:hover .software {
  color: white;
}
.software-container:hover .dropdown4-container {
  display: flex;
}

.marketing-container:hover {
  background-color: #2ecc71;
}
.marketing-container:hover .fa-signal {
  color: white;
}
.marketing-container:hover .dropdown5-container {
  display: flex;
}

.security-container:hover {
  background-color: #f62459;
}
.security-container:hover .fa-shield-alt {
  color: white;
}
.security-container:hover .dropdown6-container {
  display: flex;
}

.dropdown1-container {
  display: none;
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  flex-direction: row;
  align-items: center;
  height: 45px;
  background-color: #79539a;
  color: #ffffff;
}

.dropdown2-container {
  display: none;
  flex-direction: row;
  align-items: center;
  height: 45px;
  background-color: #286abd;
  color: #ffffff;
}

.dropdown3-container {
  display: none;
  flex-direction: row;
  align-items: center;
  height: 45px;
  background-color: #bc2c28;
  color: #ffffff;
}

.dropdown4-container {
  display: none;
  flex-direction: row;
  align-items: center;
  height: 45px;
  background-color: #526781;
  color: #ffffff;
}

.dropdown5-container {
  display: none;
  flex-direction: row;
  align-items: center;
  height: 45px;
  background-color: #25a25a;
  color: #ffffff;
}

.dropdown6-container {
  display: none;
  flex-direction: row;
  align-items: center;
  height: 45px;
  background-color: #de093f;
  color: #ffffff;
}

.drobdown-centre {
  display: flex;
  flex-direction: row;
  margin-left: auto;
  margin-right: auto;
  padding-right: 15px;
  padding-left: 15px;
}
@media screen and (min-width: 768px) {
  .drobdown-centre {
    width: 750px;
  }
}
@media screen and (min-width: 992px) {
  .drobdown-centre {
    width: 950px;
  }
}
@media screen and (min-width: 1260px) {
  .drobdown-centre {
    width: 1200px;
  }
}

@media screen and (min-width: 992px) {
  .nav-flexcontainer {
    display: flex;
    flex-direction: column;
  }
}
.banner-container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: calc(100vh - 6.875rem);
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: linear-gradient(to left, rgba(200, 200, 200, 0.1), black), url("../img/carousel/webdesign.jpeg");
}

.banner-content {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  text-align: start;
  justify-content: center;
  color: #ffffff;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  padding-right: 15px;
  padding-left: 15px;
}
@media screen and (min-width: 768px) {
  .banner-content {
    width: 750px;
  }
}
@media screen and (min-width: 992px) {
  .banner-content {
    width: 950px;
  }
}
@media screen and (min-width: 1260px) {
  .banner-content {
    width: 1200px;
  }
}
.banner-content h1 {
  font-size: 3rem;
  letter-spacing: 0.4px;
  padding-bottom: 25px;
}
.banner-content p {
  font-size: 1.25rem;
  line-height: 1.4rem;
  padding-bottom: 35px;
}
.banner-content .banner-button {
  padding: 5px 20px;
  font-size: 1.25rem;
  line-height: 50px;
  text-align: center;
  width: 224px;
  background-color: #926fb1;
  color: white;
  border: none;
  border-radius: 3px;
}

.cards {
  background-color: #efefef;
}

.top-cards {
  padding-top: 50px;
  display: flex;
  flex-wrap: wrap;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 768px) {
  .top-cards {
    width: 750px;
  }
}
@media screen and (min-width: 992px) {
  .top-cards {
    width: 950px;
  }
}
@media screen and (min-width: 1260px) {
  .top-cards {
    width: 1200px;
  }
}

.bottom-cards {
  padding-bottom: 50px;
  display: flex;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 768px) {
  .bottom-cards {
    width: 750px;
  }
}
@media screen and (min-width: 992px) {
  .bottom-cards {
    width: 950px;
  }
}
@media screen and (min-width: 1260px) {
  .bottom-cards {
    width: 1200px;
  }
}

.container-software, .container-support, .container-marketing, .container-services, .container-design, .container-security, .container-training {
  display: flex;
  color: #333645;
  background-color: white;
  border: 1px solid #ccc;
  justify-content: center;
  width: 100%;
}
.container-software div, .container-support div, .container-marketing div, .container-services div, .container-design div, .container-security div, .container-training div {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}
.container-software .a, .container-support .a, .container-marketing .a, .container-services .a, .container-design .a, .container-security .a, .container-training .a {
  padding: 30px;
}
.container-software h1, .container-support h1, .container-marketing h1, .container-services h1, .container-design h1, .container-security h1, .container-training h1 {
  padding-bottom: 14px;
}
.container-software .horizontal-rule, .container-support .horizontal-rule, .container-marketing .horizontal-rule, .container-services .horizontal-rule, .container-design .horizontal-rule, .container-security .horizontal-rule, .container-training .horizontal-rule {
  margin-bottom: 11px;
}
.container-software .readmore, .container-support .readmore, .container-marketing .readmore, .container-services .readmore, .container-design .readmore, .container-security .readmore, .container-training .readmore {
  margin-top: 13px;
}

.container-software {
  margin: 30px 15px 0px;
  padding: 0 15px;
  width: 100%;
}
.container-software .icon2 {
  background-color: #67809f;
  border-color: #67809f;
}
.container-software:hover {
  background-color: #67809f;
  color: #ffffff;
}
.container-software:hover .icon2, .container-software:hover .readmore {
  background-color: #ffffff;
  color: #67809f;
}
.container-software:hover .readmore a {
  color: #67809f;
}
.container-software:hover .horizontal-rule {
  background-color: #ffffff;
}
.container-software .readmore {
  background-color: #67809f;
  color: #ffffff;
}

.container-support {
  margin: 30px 15px 0px;
  padding: 0 15px;
  width: 100%;
}
.container-support .icon2 {
  background-color: #4183d7;
  border-color: #4183d7;
}
.container-support:hover {
  background-color: #4183d7;
  color: #ffffff;
}
.container-support:hover .icon2, .container-support:hover .readmore {
  background-color: #ffffff;
  color: #4183d7;
}
.container-support:hover .readmore a {
  color: #4183d7;
}
.container-support:hover .horizontal-rule {
  background-color: #ffffff;
}
.container-support .readmore {
  background-color: #4183d7;
  color: #ffffff;
}

.container-marketing {
  margin: 30px 15px 0px;
  padding: 0 15px;
  width: 100%;
}
.container-marketing .icon2 {
  background-color: #2ecc71;
  border-color: #2ecc71;
}
.container-marketing:hover {
  background-color: #2ecc71;
  color: #ffffff;
}
.container-marketing:hover .icon2, .container-marketing:hover .readmore {
  background-color: #ffffff;
  color: #2ecc71;
}
.container-marketing:hover .readmore a {
  color: #2ecc71;
}
.container-marketing:hover .horizontal-rule {
  background-color: #ffffff;
}
.container-marketing .readmore {
  background-color: #2ecc71;
  color: #ffffff;
}

.container-services {
  margin: 30px 15px 0px;
  padding: 0 15px;
  width: 100%;
}
.container-services .icon2 {
  background-color: #d64541;
  border-color: #d64541;
}
.container-services:hover {
  background-color: #d64541;
  color: #ffffff;
}
.container-services:hover .icon2, .container-services:hover .readmore {
  background-color: #ffffff;
  color: #d64541;
}
.container-services:hover .readmore a {
  color: #d64541;
}
.container-services:hover .horizontal-rule {
  background-color: #ffffff;
}
.container-services .readmore {
  background-color: #d64541;
  color: #ffffff;
}
@media screen and (min-width: 768px) {
  .container-services {
    width: 50%;
  }
}

.container-design {
  margin: 30px 15px 0px;
  padding: 0 15px;
  width: 100%;
}
.container-design .icon2 {
  background-color: #926fb1;
  border-color: #926fb1;
}
.container-design:hover {
  background-color: #926fb1;
  color: #ffffff;
}
.container-design:hover .icon2, .container-design:hover .readmore {
  background-color: #ffffff;
  color: #926fb1;
}
.container-design:hover .readmore a {
  color: #926fb1;
}
.container-design:hover .horizontal-rule {
  background-color: #ffffff;
}
.container-design .readmore {
  background-color: #926fb1;
  color: #ffffff;
}
@media screen and (min-width: 768px) {
  .container-design {
    width: 50%;
  }
}

.container-security {
  margin: 30px 15px 0px;
  padding: 0 15px;
  width: 100%;
}
.container-security .icon2 {
  background-color: #f62459;
  border-color: #f62459;
}
.container-security:hover {
  background-color: #f62459;
  color: #ffffff;
}
.container-security:hover .icon2, .container-security:hover .readmore {
  background-color: #ffffff;
  color: #f62459;
}
.container-security:hover .readmore a {
  color: #f62459;
}
.container-security:hover .horizontal-rule {
  background-color: #ffffff;
}
.container-security .readmore {
  background-color: #f62459;
  color: #ffffff;
}
@media screen and (min-width: 768px) {
  .container-security {
    width: 50%;
  }
}

.container-training {
  margin: 30px 15px 0px;
  padding: 0 15px;
  width: 100%;
}
.container-training .icon2 {
  background-color: #926fb1;
  border-color: #926fb1;
}
.container-training:hover {
  background-color: #926fb1;
  color: #ffffff;
}
.container-training:hover .icon2, .container-training:hover .readmore {
  background-color: #ffffff;
  color: #926fb1;
}
.container-training:hover .readmore a {
  color: #926fb1;
}
.container-training:hover .horizontal-rule {
  background-color: #ffffff;
}
.container-training .readmore {
  background-color: #926fb1;
  color: #ffffff;
}
@media screen and (min-width: 768px) {
  .container-training {
    width: 50%;
  }
}

.icon2-container {
  padding-bottom: 17px;
}
.icon2-container .icon2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  font-size: 23px;
  color: #ffffff;
}

.readmore {
  font-size: 17px;
  letter-spacing: 0.4px;
  text-align: center;
  vertical-align: middle;
  border-radius: 3px;
  border: 1px solid;
  width: 129px;
  height: 47px;
  justify-content: center;
}

.horizontal-rule {
  display: flex;
  height: 3px;
  width: 28px;
  background-color: #333645;
  align-self: center;
}

.container-netmatters-background {
  background-color: #333645;
}

.container-netmatters {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  padding-right: 15px;
  padding-left: 15px;
  color: #ffffff;
  letter-spacing: 0.4px;
}
@media screen and (min-width: 768px) {
  .container-netmatters {
    width: 750px;
  }
}
@media screen and (min-width: 992px) {
  .container-netmatters {
    width: 950px;
  }
}
@media screen and (min-width: 1260px) {
  .container-netmatters {
    width: 1200px;
  }
}
.container-netmatters h1 {
  font-size: 2.25rem;
  font-weight: 400;
}
.container-netmatters p {
  font-size: 1rem;
  line-height: 1.875rem;
  margin-bottom: 25px;
  margin: 0 0 10px;
}

/*# sourceMappingURL=styles.css.map */
