@font-face {
  font-family: "Poppins";
  src: url("/fonts/poppins-v15-latin-regular.woff2") format("woff2");
}
* {
  font-family: Poppins;
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  margin: 0px;
  font-size: 13px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.upper {
  text-transform: uppercase;
}

.button-container {
  display: none;
}

.search-container2 {
  display: none;
}

.container-top,
.topnav,
.bottom-container,
.menu-container,
.container-phone {
  display: flex;
}

.outer {
  width: 100vw;
  padding: 18px 0;
  /*  background-color: red;*/
  margin: auto;
}

.inner {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  /*  background-color: blue;*/
}
@media screen and (min-width: 768px) {
  .inner {
    width: 750px;
  }
}
@media screen and (min-width: 992px) {
  .inner {
    width: 970px;
  }
}
@media screen and (min-width: 1260px) {
  .inner {
    width: 1200px;
  }
}

.container-top {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.logo-image {
  max-width: 100%;
  height: auto;
}

.phone-menu {
  display: flex;
  align-items: center;
}

.search-button2 {
  width: 63px;
  height: 56px;
  border-radius: 3px;
  color: #ffffff;
  background-color: #333645;
  border: 0;
  text-align: center;
}

.menu-position {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}

.menu-btn {
  width: fit-content;
  height: 56px;
  color: white;
  padding: 5px 15px;
  line-height: 1.5;
  margin-left: 20px;
  background-color: #333645;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.menu-btn:hover {
  background-color: #151a1e;
}
.menu-btn .burger-container {
  position: relative;
  width: 100%;
  margin: auto 0;
}
.menu-btn .burger-container .menu-burger {
  display: block;
  position: relative;
  width: 33px;
  height: 3px;
  background-color: white;
}
.menu-btn .burger-container .menu-burger::before, .menu-btn .burger-container .menu-burger::after {
  content: "";
  position: absolute;
  left: 0;
  width: 33px;
  height: 3px;
  background-color: white;
}
.menu-btn .burger-container .menu-burger::before {
  content: "";
  transform: translateY(-8px);
}
.menu-btn .burger-container .menu-burger::after {
  content: "";
  transform: translateY(8px);
}
.menu-btn .menu-title {
  font-size: 0.75rem;
}

.menu {
  line-height: 12px;
  font-size: 12px;
}

.container-phone {
  align-items: center;
  padding-bottom: 3px;
  width: 32px;
  height: 32px;
}
.container-phone:hover {
  border-bottom: 3px solid #333645;
}

.phone {
  font-size: 32px;
  color: #333645;
  transform: rotate(-45deg);
}

.bottom-container {
  width: 100%;
  margin-top: 11px;
}

.search-container {
  display: flex;
}

.search-bar1 {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  outline: 1px solid rgba(255, 255, 255, 0.2);
  border: 2px solid rgba(0, 0, 0, 0.1);
  border-right: none;
  box-shadow: rgba(0, 0, 0, 0.075) 0px 1px 1px 0px inset;
  border-radius: 2px;
  padding: 5px 15px;
}

.form2 {
  width: 100%;
}

.search-button {
  color: #333645;
  background-color: rgba(0, 0, 0, 0.1);
  outline: 1px solid rgba(255, 255, 255, 0.2);
  border: 2px solid rgba(0, 0, 0, 0.1);
  box-shadow: rgba(0, 0, 0, 0.075) 0px 1px 1px 0px inset;
  border-radius: 2px;
  border-left: none;
  line-height: 47px;
  font-size: 20px;
}

.button1 {
  display: inline;
  text-align: center;
  height: 56px;
  width: 141px;
  border-radius: 3px;
  font-size: 18px;
  padding: 5px 15px 5px 15px;
  text-align: center;
  line-height: 46px;
  letter-spacing: 0.4px;
  color: #ffffff;
  background-color: #4183d7;
  box-shadow: none;
  border-color: #4183d7;
  text-transform: uppercase;
  border: 0;
}
.button1 i {
  padding-right: 5px;
}

.button1:hover {
  background-color: #286abd;
}

.button2 {
  display: inline;
  height: 56px;
  width: 149px;
  border-radius: 3px;
  font-size: 18px;
  padding: 5px 15px 5px 15px;
  text-align: center;
  line-height: 46px;
  letter-spacing: 0.4px;
  color: #ffffff;
  background-color: #999aa2;
  box-shadow: none;
  margin-left: 20px;
  text-transform: uppercase;
  border: 0;
}
.button2 i {
  padding-right: 5px;
}

.button2:hover {
  background-color: #84858f;
}

.fa-paper-plane,
.fa-mouse {
  font-size: 23pxx;
}

.search-button2 {
  font-size: 24px;
  background-color: #999aa2;
}

.search-button2:hover {
  background-color: #84858f;
}

.form {
  display: flex;
  margin-left: 20px;
}

@media screen and (min-width: 768px) {
  .search-container2 {
    display: flex;
  }
  .search-container2 .search-form {
    display: flex;
  }

  .bottom-container {
    display: none;
  }

  .container-phone {
    display: none;
  }
}
@media screen and (min-width: 992px) {
  .button-container {
    display: flex;
  }
}
@media screen and (min-width: 1260px) {
  .search-form {
    display: flex;
    min-width: 100px;
  }
}
.nav-flexcontainer {
  display: none;
}

.outer-container {
  width: 100vw;
  background-color: #333645;
  display: flex;
  border: solid 1px;
  border-top-color: black;
  border-bottom-color: white;
}

.nav-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-size: 18px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 768px) {
  .nav-container {
    width: 750px;
  }
}
@media screen and (min-width: 992px) {
  .nav-container {
    width: 970px;
  }
}
@media screen and (min-width: 1260px) {
  .nav-container {
    width: 1200px;
  }
}

.design-button,
.support-button,
.services-button,
.software-button,
.marketing-button,
.security-button {
  display: flex;
  height: 104px;
  background-color: #333645;
  color: #ffffff;
  text-align: center;
  padding-left: 18px;
  padding-right: 18px;
  border-right: 1px solid rgba(255, 255, 255, 0.1);
  border-left: 1px solid rgba(0, 0, 0, 0.25);
  flex: 1;
  justify-content: center;
}
@media screen and (min-width: 992px) {
  .design-button,
.support-button,
.services-button,
.software-button,
.marketing-button,
.security-button {
    width: 158.3333333333px;
  }
}
@media screen and (min-width: 1260px) {
  .design-button,
.support-button,
.services-button,
.software-button,
.marketing-button,
.security-button {
    width: 200px;
  }
}
.design-button a,
.support-button a,
.services-button a,
.software-button a,
.marketing-button a,
.security-button a {
  padding: 19px 0px 18px;
}

a {
  text-decoration: none;
  color: #ffffff;
}

.uppercase {
  text-transform: uppercase;
  text-align: center;
  list-style-type: none;
}

.small {
  font-size: 10px;
  padding-bottom: 1px;
}

.icon {
  font-size: 23px;
  padding-bottom: 10px;
}

.fa-code {
  color: #926fb1;
  font-size: 23px;
}

.fa-desktop {
  color: #4183d7;
  font-size: 23px;
}

.phone2 {
  transform: rotate(-45deg);
  color: #d64541;
  font-size: 23px;
}

.software {
  color: #67809f;
  font-size: 23px;
}

.fa-signal {
  color: #2ecc71;
  font-size: 23px;
}

.fa-shield-alt {
  color: #f62459;
  font-size: 23px;
}

.design-container:hover .design-button {
  background-color: #926fb1;
}
.design-container:hover .design-button .design-icon {
  color: white;
}
.design-container:hover .dropdown1-container {
  display: flex;
}

.support-container:hover .support-button {
  background-color: #4183d7;
}
.support-container:hover .support-button .support-icon {
  color: white;
}
.support-container:hover .dropdown2-container {
  display: flex;
}

.services-container:hover .services-button {
  background-color: #d64541;
}
.services-container:hover .services-button .phone2 {
  color: white;
}
.services-container:hover .dropdown3-container {
  display: flex;
}

.software-container:hover .software-button {
  background-color: #67809f;
}
.software-container:hover .software-button .software {
  color: white;
}
.software-container:hover .dropdown4-container {
  display: flex;
}

.marketing-container:hover .marketing-button {
  background-color: #2ecc71;
}
.marketing-container:hover .marketing-button .marketing-icon {
  color: white;
}
.marketing-container:hover .dropdown5-container {
  display: flex;
}

.security-container:hover .security-button {
  background-color: #f62459;
}
.security-container:hover .security-button .security-icon {
  color: white;
}
.security-container:hover .dropdown6-container {
  display: flex;
}

.dropdown6-container, .dropdown5-container, .dropdown4-container, .dropdown3-container, .dropdown2-container, .dropdown1-container {
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  align-items: center;
  height: 45px;
  color: #ffffff;
  z-index: 3;
}

.dropdown1-container {
  background-color: #79539a;
}

.dropdown2-container {
  background-color: #286abd;
}

.dropdown3-container {
  background-color: #bc2c28;
}

.dropdown4-container {
  background-color: #526781;
}

.dropdown5-container {
  background-color: #25a25a;
}

.dropdown6-container {
  background-color: #de093f;
}

.dropdown-centre {
  display: flex;
  margin-left: auto;
  margin-right: auto;
}
.dropdown-centre li {
  padding: 0 15px;
}
@media screen and (min-width: 768px) {
  .dropdown-centre {
    width: 750px;
  }
}
@media screen and (min-width: 992px) {
  .dropdown-centre {
    width: 970px;
  }
}
@media screen and (min-width: 1260px) {
  .dropdown-centre {
    width: 1200px;
  }
}

@media screen and (min-width: 992px) {
  .nav-flexcontainer {
    display: flex;
    flex-direction: column;
  }
}
.banner-container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: calc(100vh - 6.875rem);
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: fill;
  background-image: linear-gradient(to left, rgba(200, 200, 200, 0.1), black), url("../img/carousel/webdesign.jpeg");
}

.banner-content {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  text-align: start;
  justify-content: center;
  color: #ffffff;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  padding-right: 15px;
  padding-left: 15px;
}
@media screen and (min-width: 768px) {
  .banner-content {
    width: 750px;
  }
}
@media screen and (min-width: 992px) {
  .banner-content {
    width: 970px;
  }
}
@media screen and (min-width: 1260px) {
  .banner-content {
    width: 1200px;
  }
}
.banner-content h1 {
  font-size: 3rem;
  letter-spacing: 0.4px;
  padding-bottom: 25px;
}
.banner-content p {
  font-size: 1.25rem;
  line-height: 1.4rem;
  padding-bottom: 35px;
}
.banner-content .banner-button {
  padding: 5px 20px;
  font-size: 1.25rem;
  line-height: 50px;
  text-align: center;
  width: 224px;
  background-color: #926fb1;
  color: white;
  border: none;
  border-radius: 3px;
}

.cards {
  background-color: whitesmoke;
  box-shadow: 0 3px 35px rgba(0, 0, 0, 0.1);
}

.row {
  display: flex;
  flex-direction: column;
  margin-top: -30px;
}

.top-cards {
  padding-top: 50px;
  display: flex;
  flex-wrap: wrap;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 768px) {
  .top-cards {
    width: 750px;
  }
}
@media screen and (min-width: 992px) {
  .top-cards {
    width: 970px;
  }
}
@media screen and (min-width: 1260px) {
  .top-cards {
    width: 1200px;
  }
}

.bottom-cards {
  padding-bottom: 50px;
  display: flex;
  flex-wrap: wrap;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 768px) {
  .bottom-cards {
    width: 750px;
  }
}
@media screen and (min-width: 992px) {
  .bottom-cards {
    width: 970px;
  }
}
@media screen and (min-width: 1260px) {
  .bottom-cards {
    width: 1200px;
  }
}

.bt1 {
  display: flex;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .bt1 {
    width: 50%;
  }
}
@media screen and (min-width: 1260px) {
  .bt1 {
    width: 25%;
  }
}

.bt2 {
  display: flex;
  width: 100%;
}
@media screen and (min-width: 992px) {
  .bt2 {
    width: 33.33333%;
  }
}

.container-software,
.container-support,
.container-marketing,
.container-services,
.container-design,
.container-security,
.container-training {
  display: flex;
  color: #333645;
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: 0 3px 35px rgba(0, 0, 0, 0.1);
  justify-content: center;
  font-weight: 400;
  width: 100%;
}
.container-software div,
.container-support div,
.container-marketing div,
.container-services div,
.container-design div,
.container-security div,
.container-training div {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}
.container-software .a,
.container-support .a,
.container-marketing .a,
.container-services .a,
.container-design .a,
.container-security .a,
.container-training .a {
  padding: 30px;
  cursor: pointer;
}
.container-software h1,
.container-support h1,
.container-marketing h1,
.container-services h1,
.container-design h1,
.container-security h1,
.container-training h1 {
  font-size: 18px;
  padding-bottom: 14px;
}
.container-software .horizontal-rule,
.container-support .horizontal-rule,
.container-marketing .horizontal-rule,
.container-services .horizontal-rule,
.container-design .horizontal-rule,
.container-security .horizontal-rule,
.container-training .horizontal-rule {
  margin-bottom: 11px;
}
.container-software .readmore,
.container-support .readmore,
.container-marketing .readmore,
.container-services .readmore,
.container-design .readmore,
.container-security .readmore,
.container-training .readmore {
  margin-top: 13px;
}

.container-software {
  margin: 30px 15px 0px;
  padding: 0 15px;
  width: 100%;
}
.container-software .icon2 {
  background-color: #67809f;
  border-color: #67809f;
}
.container-software:hover {
  background-color: #67809f;
  color: #ffffff;
}
.container-software:hover .icon2,
.container-software:hover .readmore {
  background-color: #ffffff;
  color: #67809f;
}
.container-software:hover .readmore a {
  color: #67809f;
}
.container-software:hover .horizontal-rule {
  background-color: #ffffff;
}
.container-software .readmore {
  background-color: #67809f;
  color: #ffffff;
}

.container-support {
  margin: 30px 15px 0px;
  padding: 0 15px;
  width: 100%;
}
.container-support .icon2 {
  background-color: #4183d7;
  border-color: #4183d7;
}
.container-support:hover {
  background-color: #4183d7;
  color: #ffffff;
}
.container-support:hover .icon2,
.container-support:hover .readmore {
  background-color: #ffffff;
  color: #4183d7;
}
.container-support:hover .readmore a {
  color: #4183d7;
}
.container-support:hover .horizontal-rule {
  background-color: #ffffff;
}
.container-support .readmore {
  background-color: #4183d7;
  color: #ffffff;
}

.container-marketing {
  margin: 30px 15px 0px;
  padding: 0 15px;
  width: 100%;
}
.container-marketing .icon2 {
  background-color: #2ecc71;
  border-color: #2ecc71;
}
.container-marketing:hover {
  background-color: #2ecc71;
  color: #ffffff;
}
.container-marketing:hover .icon2,
.container-marketing:hover .readmore {
  background-color: #ffffff;
  color: #2ecc71;
}
.container-marketing:hover .readmore a {
  color: #2ecc71;
}
.container-marketing:hover .horizontal-rule {
  background-color: #ffffff;
}
.container-marketing .readmore {
  background-color: #2ecc71;
  color: #ffffff;
}

.container-services {
  margin: 30px 15px 0px;
  padding: 0 15px;
  width: 100%;
}
.container-services .icon2 {
  background-color: #d64541;
  border-color: #d64541;
}
.container-services:hover {
  background-color: #d64541;
  color: #ffffff;
}
.container-services:hover .icon2,
.container-services:hover .readmore {
  background-color: #ffffff;
  color: #d64541;
}
.container-services:hover .readmore a {
  color: #d64541;
}
.container-services:hover .horizontal-rule {
  background-color: #ffffff;
}
.container-services .readmore {
  background-color: #d64541;
  color: #ffffff;
}

.container-design {
  margin: 30px 15px 0px;
  padding: 0 15px;
  width: 100%;
}
.container-design .icon2 {
  background-color: #926fb1;
  border-color: #926fb1;
}
.container-design:hover {
  background-color: #926fb1;
  color: #ffffff;
}
.container-design:hover .icon2,
.container-design:hover .readmore {
  background-color: #ffffff;
  color: #926fb1;
}
.container-design:hover .readmore a {
  color: #926fb1;
}
.container-design:hover .horizontal-rule {
  background-color: #ffffff;
}
.container-design .readmore {
  background-color: #926fb1;
  color: #ffffff;
}

.container-security {
  margin: 30px 15px 0px;
  padding: 0 15px;
  width: 100%;
}
.container-security .icon2 {
  background-color: #f62459;
  border-color: #f62459;
}
.container-security:hover {
  background-color: #f62459;
  color: #ffffff;
}
.container-security:hover .icon2,
.container-security:hover .readmore {
  background-color: #ffffff;
  color: #f62459;
}
.container-security:hover .readmore a {
  color: #f62459;
}
.container-security:hover .horizontal-rule {
  background-color: #ffffff;
}
.container-security .readmore {
  background-color: #f62459;
  color: #ffffff;
}

.container-training {
  margin: 30px 15px 0px;
  padding: 0 15px;
  width: 100%;
}
.container-training .icon2 {
  background-color: #926fb1;
  border-color: #926fb1;
}
.container-training:hover {
  background-color: #926fb1;
  color: #ffffff;
}
.container-training:hover .icon2,
.container-training:hover .readmore {
  background-color: #ffffff;
  color: #926fb1;
}
.container-training:hover .readmore a {
  color: #926fb1;
}
.container-training:hover .horizontal-rule {
  background-color: #ffffff;
}
.container-training .readmore {
  background-color: #926fb1;
  color: #ffffff;
}

.icon2-container {
  padding-bottom: 17px;
}
.icon2-container .icon2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  font-size: 23px;
  color: #ffffff;
}

.readmore {
  font-size: 17px;
  letter-spacing: 0.4px;
  text-align: center;
  vertical-align: middle;
  border-radius: 3px;
  border: 1px solid;
  width: 129px;
  height: 47px;
  justify-content: center;
}

.horizontal-rule {
  display: flex;
  height: 3px;
  width: 28px;
  background-color: #333645;
  align-self: center;
}

.container-netmatters-background {
  background-color: #333645;
}
@media screen and (min-width: 992px) {
  .container-netmatters-background {
    background-image: url("../../img/branded.png");
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.container-netmatters {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  padding-right: 15px;
  padding-left: 15px;
  padding-bottom: 50px;
  padding-top: 50px;
  color: #ffffff;
  letter-spacing: 0.4px;
}
@media screen and (min-width: 768px) {
  .container-netmatters {
    width: 750px;
  }
}
@media screen and (min-width: 992px) {
  .container-netmatters {
    width: 970px;
  }
}
@media screen and (min-width: 1260px) {
  .container-netmatters {
    width: 1200px;
  }
}
.container-netmatters h1 {
  font-size: 2.25rem;
  font-weight: 400;
  margin-bottom: 28px;
  margin-top: -6px;
}
.container-netmatters p {
  font-size: 1rem;
  line-height: 1.875rem;
  margin-bottom: 25px;
}
@media screen and (min-width: 1260px) {
  .container-netmatters p {
    width: 50%;
  }
}

.btn-netmatters {
  background-color: white;
  text-align: center;
  padding: 5px 15px;
  border-radius: 3px;
  width: 183px;
}
.btn-netmatters:hover {
  background-color: #ebebeb;
}
.btn-netmatters a {
  color: #333645;
  font-size: 17px;
  line-height: 35px;
}

.container-latest {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  padding-right: 15px;
  padding-left: 15px;
  padding-bottom: 40px;
  padding-top: 40px;
  color: #ffffff;
  letter-spacing: 0.4px;
}
@media screen and (min-width: 768px) {
  .container-latest {
    width: 750px;
  }
}
@media screen and (min-width: 992px) {
  .container-latest {
    width: 970px;
  }
}
@media screen and (min-width: 1260px) {
  .container-latest {
    width: 1200px;
  }
}
.container-latest p {
  color: black;
}

.section {
  display: flex;
  padding: 50px 0;
}
.section .container {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  padding-right: 15px;
  padding-left: 15px;
  color: #ffffff;
  letter-spacing: 0.4px;
}
@media screen and (min-width: 768px) {
  .section .container {
    width: 750px;
  }
}
@media screen and (min-width: 992px) {
  .section .container {
    width: 970px;
  }
}
@media screen and (min-width: 1260px) {
  .section .container {
    width: 1200px;
  }
}
.section .container .article.list {
  overflow: hidden;
}

.latest-row {
  display: flex;
  flex-direction: column;
  margin-top: -30px;
  margin-left: -15px;
  margin-right: -15px;
  width: 100%;
}
.latest-row .outer-item {
  display: flex;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
}
.latest-row .outer-item .item {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.latest-row .outer-item .item .img-container {
  display: flex;
}
.latest-row .outer-item .item .main-content {
  padding: 30px;
  border: 1px solid #ccc;
  border-top: none;
}
.latest-row .outer-item .item .main-content h3 {
  min-height: 3rem;
  line-height: 1.5rem;
  font-size: 1rem;
  padding-bottom: 15px;
  color: black;
}
.latest-row .outer-item .item .main-content .info {
  color: black;
  font-size: 0.8125rem;
  padding-bottom: 25px;
}
.latest-row .outer-item .item .main-content .extra-styles {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  background-color: #926fb1;
}
.latest-row .outer-item .item .main-content .extra-styles:hover {
  background-color: #79539a;
}
.latest-row .outer-item .item .main-content .extra-styles a {
  text-decoration: none;
  color: white;
}

.user {
  display: flex;
  margin-top: 30px;
  padding-top: 30px;
  border-top: 1px solid #ccc;
}
.user .details {
  padding-left: 20px;
}
.user .details p {
  color: black;
  font-size: 0.8125rem;
}

@media screen and (min-width: 768px) {
  .latest-row {
    flex-direction: row;
  }

  .disappear {
    display: none;
  }

  .outer-item {
    width: 50%;
  }
}
@media screen and (min-width: 1260px) {
  .disappear {
    display: flex;
  }

  .outer-item {
    width: 33.33%;
  }
}
.form-section {
  background-color: #ddd;
}

.form-container {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  padding-right: 15px;
  padding-left: 15px;
  color: #ffffff;
  letter-spacing: 0.4px;
}
@media screen and (min-width: 768px) {
  .form-container {
    width: 750px;
  }
}
@media screen and (min-width: 992px) {
  .form-container {
    width: 970px;
  }
}
@media screen and (min-width: 1260px) {
  .form-container {
    width: 1200px;
  }
}

.sign-up {
  display: flex;
  flex-direction: column;
  padding: 50px 30px;
}
.sign-up h2 {
  margin-bottom: 15px;
  color: #333645;
  font-weight: 400;
  font-size: 32px;
}
.sign-up .sign-up-wrapper {
  display: flex;
  flex-direction: row;
  margin-bottom: 15px;
}
.sign-up .sign-up-wrapper .name {
  display: flex;
  color: #333645;
  font-weight: bolder;
  font-size: 16px;
  flex-direction: column;
  width: 100%;
  padding: 0px 15px;
  margin-left: -15px;
}
.sign-up .sign-up-wrapper .name input {
  height: 47px;
  padding: 5px 15px;
  border: 1px solid #e5e5e5;
  border-color: #ccc;
  border-radius: 2px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.08);
  color: #ccc;
}
.sign-up .sign-up-wrapper .name input:focus {
  border-color: #5bc0de;
  outline: 0;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.08), 0 0 8px rgba(91, 192, 222, 0.6);
}
.sign-up .sign-up-wrapper .name .label::after {
  content: " *";
  color: #d24d57;
}
.sign-up .email {
  display: flex;
  color: #333645;
  font-weight: bolder;
  font-size: 16px;
  flex-direction: column;
  width: 100%;
  padding: 0px 15px;
  margin-right: -15px;
}
.sign-up .email input {
  height: 47px;
  padding: 5px 15px;
  border: 1px solid #e5e5e5;
  border-color: #ccc;
  border-radius: 2px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.08);
  color: #ccc;
}
.sign-up .email input:focus {
  border-color: #5bc0de;
  outline: 0;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.08), 0 0 8px rgba(91, 192, 222, 0.6);
}
.sign-up .label::after {
  content: " *";
  color: #d24d57;
}

.checkbox {
  color: #333645;
  margin-bottom: 15px;
  font-weight: bold;
  font-size: 16px;
}
.checkbox a {
  color: #333645;
  font-weight: bold;
  text-decoration: underline;
}

.subscribe-buttton {
  background-color: #333645;
  border: 1px solid transparent;
  border-color: #333645;
  outline: none;
  color: white;
  height: auto;
  width: fit-content;
  line-height: 35px;
  padding: 5px 15px;
  text-transform: uppercase;
  font-size: 17px;
  border-radius: 3px;
  white-space: normal;
}
.subscribe-buttton:hover {
  background-color: #2c2c2c;
  border-color: #2c2c2c;
}

.logo-section {
  display: none;
}

.logo-container {
  display: flex;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 768px) {
  .logo-container {
    width: 750px;
  }
}
@media screen and (min-width: 992px) {
  .logo-container {
    width: 970px;
  }
}
@media screen and (min-width: 1260px) {
  .logo-container {
    width: 1200px;
  }
}

.client-images {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .client-images {
    height: 100px;
  }
}
@media screen and (min-width: 992px) {
  .client-images {
    height: 50px;
  }
}
@media screen and (min-width: 1260px) {
  .client-images {
    height: 72px;
  }
}

.image-holder {
  position: relative;
}
.image-holder:hover img.colour {
  z-index: 3;
}
.image-holder img {
  height: 100%;
  width: auto;
}

.colour {
  position: relative;
  left: 0;
  top: 0;
  z-index: 1;
}

.black-white {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
}

@media screen and (min-width: 768px) {
  .logo-section {
    display: flex;
  }
}
footer {
  background-color: #333645;
  color: white;
}

.footer-container {
  display: flex;
  flex-direction: column;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 768px) {
  .footer-container {
    width: 750px;
  }
}
@media screen and (min-width: 992px) {
  .footer-container {
    width: 970px;
  }
}
@media screen and (min-width: 1260px) {
  .footer-container {
    width: 1200px;
  }
}

.footer-row {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.footer-section1 {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

.footer-section2 {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #888;
  font-size: 0.8125rem;
  padding-top: 10px;
  margin-top: 10px;
}

.accreditations-section {
  display: none;
}

.accreditations-container {
  display: flex;
  flex-direction: column;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 768px) {
  .accreditations-container {
    width: 750px;
  }
}
@media screen and (min-width: 992px) {
  .accreditations-container {
    width: 970px;
  }
}
@media screen and (min-width: 1260px) {
  .accreditations-container {
    width: 1200px;
  }
}

.accrediations-row1 {
  display: flex;
  flex-direction: row;
  padding-bottom: 100px;
}
.accrediations-row1 div {
  display: flex;
  flex-direction: column;
  position: relative;
}
.accrediations-row1 div:hover img.accreditations-colour {
  z-index: 3;
}
.accrediations-row1 div img {
  height: 100%;
  width: auto;
}

.accreditations-colour {
  position: relative;
  left: 0;
  top: 0;
  z-index: 1;
}

.accreditations-black-white {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
}

.accrediations-row2 {
  display: flex;
  flex-direction: row;
}
.accrediations-row2 div {
  display: flex;
  flex-direction: column;
  position: relative;
}
.accrediations-row2 div:hover img.accreditations-colour {
  z-index: 3;
}
.accrediations-row2 div img {
  height: 100%;
  width: auto;
}

@media screen and (min-width: 992px) {
  .accreditations-section {
    display: flex;
  }
}

/*# sourceMappingURL=styles.css.map */
