* {
  font-family: Poppins, sans-serif;
  font-size: 16px;
  box-sizing: border-box;
}

.hidden {
  display: none;
}

#top-nav-container {
  width: 100vw;
  height: 168px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  background-color: greenyellow;
  margin: -8px;
}

header {
    margin-top: auto;
    margin-bottom:auto;
}

.outer {
    display: flex;
    padding: 20px 0;
    background-color: red;
    margin-top: auto;
    margin-bottom: auto;
}

/*
inner {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  background-color: white;
}
*/
.container-logo, .topnav, .search-container, .menu-container {
  display: flex;
}

img {
  width: 100%;
  max-width: 402px;
  max-height: 70px;
}

.hamburger-button {
  width: 63px;
  height: 56px;
  margin: 0px 0px 0px 20px;
  border-radius: 3px;
  color: #ffffff;
  background-color: #333645;
  border: 0;
  text-align: center;
  flex-basis: 100%;
}
.hamburger-button i {
  font-size: 2em;
  padding: 4px;
}

.hamburger-button:hover {
  background-color: #22242e;
  border: 0;
}

.bars {
  font-size: 23px;
  line-height: 45px;
}

.menu {
  line-height: 12px;
  font-size: 12px;
}

.menu-container {
  display: flex;
}

.search-container {
  margin: 0 px;
  display: block;
  width: 100%;
}

.search-button {
  background: none;
  border: none;
  color: #333645;
  position: absolute;
  right: 5px;
  line-height: 47px;
  font-size: 20px;
  outline: none;
  border: 0;
}

form {
  display: inline;
}
