.banner-container {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: calc(100vh - 6.875rem);
    position: relative;
    object-fit: cover;
}

.banner-content{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}