.logo-section {
    // background-color: red;
    display: none;
    padding: 50px 0;
    background-color: linear-gradient(whitesmoke, white);
    border-top: 1px solid orange;
}

.logo-container {
    display: flex;
    // background-color: antiquewhite;
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
    @media screen and (min-width: $breakpoint1) {
        width: 750px;
    }
    @media screen and (min-width: $breakpoint2) {
        width: 970px;
    }
    @media screen and (min-width: $breakpoint3) {
        width: 1200px;
    }
}

.row {
    // display: flex;
    // position: relative;
}

.client-images {
    display: flex;
    justify-content: space-between;
    // position: relative;
    flex-direction: row;
    width: 100%;
    height: 40px;
    @media screen and (min-width: $breakpoint1) {
        height: 40px;
    }
    @media screen and (min-width: $breakpoint2) {
        height: 60px;
    }
    @media screen and (min-width: $breakpoint3) {
        height: 72px;
    }
}

.image-holder {
    position: relative;
    &:hover {
        & img {
            &.colour {
                z-index: 3;
            }
        }
        .tooltip {
            display: flex;
        }
    }
    img {
        height: 100%;
        width: auto;
    }
    // position: relative;
}

.colour {
    position: relative;
    // position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
}

.black-white {
    position: absolute;
    // position: absolute;
    left: 0;
    top: 0;
    z-index: 2;
}

.tooltip {
    display: none;
    flex-direction: column;
    position: absolute;
    bottom: 80px;
    .tooltip-content {
        background-color: #333465;
        color: white;
        padding: 20px;
    }
    .arrow {
        width: 0;
        height: 0;
        border-left: 40px solid transparent;
        border-right: 40px solid transparent;
        border-top: 40px solid #333465;
        align-self: center;
    }
}

@media screen and (min-width: $breakpoint1) {
    .logo-section {
        display: flex;
    }
}