/*
#top-nav-container {
  width: 100vw;
  height: 168px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  background-color: greenyellow;
}
*/

.button-container {
  display: none;
}

.search-container2 {
    display:none;
}

.container-top, .topnav, .bottom-container, .menu-container, .container-phone {
  display: flex;
}

.outer {
    width:100vw;
  padding: 20px 0;
/*  background-color: red;*/
  margin: auto;
}

.inner {
    width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
/*  background-color: blue;*/
}

.container-top {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.logo-img {
  flex-shrink: 1;
  max-width: 402px;
  max-height: 70px;
}

.phone-menu {
    display: flex;
    align-items: center;
}

.hamburger-button, .search-button2 {
  width: 63px;
  height: 56px;
  margin: 0px 0px 0px 20px;
  border-radius: 3px;
  color: #ffffff;
  background-color: #333645;
  border: 0;
  text-align: center;
  flex-basis: 100%;
}
.hamburger-button i {
  font-size: 2 rem;
  padding: 4px;
}

.hamburger-button:hover {
  background-color: #22242e;
  border: 0;
}

.bars {
  font-size: 23px;
  line-height: 45px;
}

.menu {
  line-height: 12px;
  font-size: 12px;
}

.container-phone {
/*
    height: 32px;
    width: 32px;
*/
    align-items: center;
}

.phone {
    font-size: 32px;
    color: #333645;
}

.bottom-container {
  width: 100%;
    margin-top: 11px;
}

.search-container {
    display: flex;
}

.search-bar1 {
    width: 100%;
    background-color: rgba(0,0,0,.1);
    outline: 1px solid hsla(0,0%,100%,.2);
    border: 2px solid rgba(0,0,0,.1);
    box-shadow: rgba(0, 0, 0, 0.075) 0px 1px 1px 0px inset;
    border-radius: 2px;
    padding: 5px 15px;
}

form {
    width: 100%;
}

.search-button {
  background: #ffffff;
  border-left: none;
  color: #333645;
  line-height: 47px;
  font-size: 20px;
  outline: none;
  border: 0;
}

.button1 {
  display: inline;
  text-align: center;
  height: 56px;
  width: 141px;
  border-radius: 3px;
  font-size: 18px;
  padding: 5px 15px 5px 15px;
  text-align: center;
  line-height: 46px;
  letter-spacing: 0.4px;
  color: #ffffff;
  background-color: $blue-base;
  box-shadow: none;
  border-color: #4183d7;
  text-transform: uppercase;
  border: 0;
}

.button1:hover {
    background-color: $blue;
}

.button2 {
  display: inline;
  height: 56px;
  width: 149px;
  border-radius: 3px;
  font-size: 18px;
  padding: 5px 15px 5px 15px;
  text-align: center;
  line-height: 46px;
  letter-spacing: 0.4px;
  color: #ffffff;
  background-color: $ButtonPrimary;
  box-shadow: none;
  margin-left: 20px;
  text-transform: uppercase;
  border: 0;
}

.button2:hover {
    background-color: $ButtonHover ;
}

.fa-paper-plane, .fa-mouse {
    font-size: 23pxx;
}

.search-button2 {
    font-size: 24px;
    background-color: $ButtonPrimary;
}

.search-button2:hover {
    background-color: $ButtonHover;
}

form {
  display: inline;
}

@media screen and (min-width: $breakpoint1) {
    .search-container2 {
        display: flex;
        .search-form {
           display: none;
        }
    }
    
    .bottom-container {
        display: none;
    }
    
    .container-phone {
        display: none;
  }
}

@media screen and (min-width: $breakpoint2) {
    .button-container {
        display: flex;
    }
}

@media screen and (min-width: $breakpoint3) {
    .search-form {
        display: absolute;
    }

}
