.button-container {
    display: none;
}

.search-container2 {
    display: none;
}

.container-top,
.topnav,
.bottom-container,
.menu-container,
.container-phone {
    display: flex;
}

.outer {
    width: 100vw;
    padding: 18px 0;
    /*  background-color: red;*/
    margin: auto;
}

.inner {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
    /*  background-color: blue;*/
    @media screen and (min-width: $breakpoint1) {
        width: 750px;
    }
    @media screen and (min-width: $breakpoint2) {
        width: 950px;
    }
    @media screen and (min-width: $breakpoint3) {
        width: 1200px;
    }
}

.container-top {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.logo-image {
    //  flex-shrink: 1;
    max-width: 100%;
    height: auto;
}

.phone-menu {
    display: flex;
    align-items: center;
}

.search-button2 {
    width: 63px;
    height: 56px;
    margin: 0px 0px 0px 20px;
    border-radius: 3px;
    color: #ffffff;
    background-color: #333645;
    border: 0;
    text-align: center;
    flex-basis: 100%;
}

.menu-position {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    padding-right: 20px;
}

.menu-btn {
    width: fit-content;
    // height: 63px;
    height: 56px;
    color: white;
    padding: 5px 15px;
    line-height: 1.5;
    margin-left: 20px;
    background-color: $nav-background;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &:hover {
        background-color: #151a1e;
    }
    // Burger Container
    .burger-container {
        position: relative;
        width: 100%;
        margin: auto 0;
        // border: 2px solid green; 
        // Burger Lines
        .menu-burger {
            display: block;
            position: relative;
            width: 33px;
            height: 3px;
            background-color: white;
            &::before,
            &::after {
                content: "";
                position: absolute;
                left: 0;
                width: 33px;
                height: 3px;
                background-color: white;
            }
            // Moves other 2 bars in correct position
            &::before {
                content: "";
                transform: translateY(-8px);
            }
            &::after {
                content: "";
                transform: translateY(8px);
            }
        }
    }
    // Menu Title
    .menu-title {
        font-size: 0.75rem; //12px
    }
}

.menu {
    line-height: 12px;
    font-size: 12px;
}

.container-phone {
    align-items: center;
    padding-bottom: 3px;
    width: 32px;
    height: 32px;
    &:hover {
        border-bottom: 3px solid $nav-background;
    }
}

.phone {
    font-size: 32px;
    color: #333645;
    transform: rotate(-45deg);
}

.bottom-container {
    width: 100%;
    margin-top: 11px;
}

.search-container {
    display: flex;
}

.search-bar1 {
    width: 100%;
    background-color: rgba(0, 0, 0, .1);
    outline: 1px solid hsla(0, 0%, 100%, .2);
    border: 2px solid rgba(0, 0, 0, .1);
    box-shadow: rgba(0, 0, 0, 0.075) 0px 1px 1px 0px inset;
    border-radius: 2px;
    padding: 5px 15px;
}

form {
    width: 100%;
}

.search-button {
    background: #ffffff;
    border-left: none;
    color: #333645;
    line-height: 47px;
    font-size: 20px;
    outline: none;
    border: 0;
}

.button1 {
    display: inline;
    text-align: center;
    height: 56px;
    width: 141px;
    border-radius: 3px;
    font-size: 18px;
    padding: 5px 15px 5px 15px;
    text-align: center;
    line-height: 46px;
    letter-spacing: 0.4px;
    color: #ffffff;
    background-color: $blue-base;
    box-shadow: none;
    border-color: #4183d7;
    text-transform: uppercase;
    border: 0;
}

.button1:hover {
    background-color: $blue;
}

.button2 {
    display: inline;
    height: 56px;
    width: 149px;
    border-radius: 3px;
    font-size: 18px;
    padding: 5px 15px 5px 15px;
    text-align: center;
    line-height: 46px;
    letter-spacing: 0.4px;
    color: #ffffff;
    background-color: $ButtonPrimary;
    box-shadow: none;
    margin-left: 20px;
    text-transform: uppercase;
    border: 0;
}

.button2:hover {
    background-color: $ButtonHover;
}

.fa-paper-plane,
.fa-mouse {
    font-size: 23pxx;
}

.search-button2 {
    font-size: 24px;
    background-color: $ButtonPrimary;
}

.search-button2:hover {
    background-color: $ButtonHover;
}

form {
    display: inline;
}

@media screen and (min-width: $breakpoint1) {
    .search-container2 {
        display: flex;
        .search-form {
            display: none;
        }
    }
    .bottom-container {
        display: none;
    }
    .container-phone {
        display: none;
    }
}

@media screen and (min-width: $breakpoint2) {
    .button-container {
        display: flex;
    }
}

@media screen and (min-width: $breakpoint3) {
    .search-form input {
        display: flex;
        min-width: 100px;
    }
}