#header2 {
    display: none;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    position: fixed;
    top: 0;
    z-index: 15;
    width: 100%;
    background-color: white;
}

.button-container {
    display: none;
}

.search-container2 {
    display: none;
}

.container-top,
.topnav,
.bottom-container,
.menu-container,
.container-phone {
    display: flex;
}

.outer {
    width: 100%;
    padding: 18px 0;
    /*  background-color: red;*/
    margin: auto;
}

.inner {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
    /*  background-color: blue;*/
    @media screen and (min-width: $breakpoint1) {
        width: 750px;
    }
    @media screen and (min-width: $breakpoint2) {
        width: 970px;
    }
    @media screen and (min-width: $breakpoint3) {
        width: 1200px;
    }
}

.container-top {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.logo-image {
    //  flex-shrink: 1;
    max-width: 100%;
    height: auto;
}

.phone-menu {
    display: flex;
    align-items: center;
}

.search-button2 {
    width: 63px;
    height: 56px;
    // margin: 0px 0px 0px 20px;
    border-radius: 3px;
    color: #ffffff;
    background-color: #333645;
    border: 0;
    text-align: center;
    // flex-basis: 100%;
}

.menu-position {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    // padding-right: 20px;
}

#menu-btn,
#menu-btn-2 {
    width: fit-content;
    // height: 63px;
    height: 56px;
    color: white;
    padding: 5px 15px;
    line-height: 1.5;
    margin-left: 20px;
    background-color: $nav-background;
    border-radius: 3px;
    border-color: $nav-background;
    border: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &:hover {
        background-color: #151a1e;
        border-color: $nav-background;
        border: 0px;
    }
    // Burger Container
    .burger-container {
        position: relative;
        width: 100%;
        margin: auto 0;
        // border: 2px solid green; 
        // Burger Lines
        .menu-burger {
            display: block;
            position: relative;
            width: 33px;
            height: 3px;
            background-color: white;
            // opacity: 0;
            transition: 0.4s;
        }
        .before,
        .after {
            display: block;
            position: absolute;
            width: 33px;
            height: 3px;
            background-color: white;
            left: 0;
        }
        // Moves other 2 bars in correct position
        .before {
            display: block;
            width: 33px;
            height: 3px;
            background-color: white;
            transform: translateY(-8px);
            // transform: translateY(8px) rotate(45deg);
            transition: 0.4s;
        }
        .after {
            display: block;
            width: 33px;
            height: 3px;
            background-color: white;
            transform: translateY(6px);
            // transform: translateY(8px) rotate(315deg);
            transition: 0.4s;
        }
        // .menu-animation {
        //     opacity: 0;
        //     transition: 0.4s;
        // }
        // .before {
        //     transform: translateY(2px) rotate(45deg);
        //     transition: 0.4s;
        // }
        // .after {
        //     transform: translateY(-1px) rotate(-45deg);
        //     transition: 0.4s;
        // }
    }
    // Menu Title
    .menu-title {
        font-size: 0.75rem; //12px
    }
}

.menu {
    line-height: 12px;
    font-size: 12px;
}

.container-phone {
    align-items: center;
    padding-bottom: 3px;
    width: 32px;
    height: 32px;
    &:hover {
        border-bottom: 3px solid $nav-background;
    }
}

.phone {
    font-size: 32px;
    color: #333645;
    transform: rotate(-45deg);
}

.bottom-container {
    width: 100%;
    margin-top: 11px;
}

.search-container {
    display: flex;
}

.search-bar1 {
    width: 100%;
    background-color: rgba(0, 0, 0, .1);
    outline: 1px solid hsla(0, 0%, 100%, .2);
    border: 2px solid rgba(0, 0, 0, .1);
    border-right: none;
    box-shadow: rgba(0, 0, 0, 0.075) 0px 1px 1px 0px inset;
    border-radius: 2px;
    padding: 5px 15px;
    &:focus {
        border-color: #5bc0de;
        outline: 0;
        box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%), 0 0 8px rgb(91 192 222 / 60%);
    }
}

.form2 {
    width: 100%;
}

.search-button {
    color: #333645;
    background-color: rgba(0, 0, 0, .1);
    outline: 1px solid hsla(0, 0%, 100%, .2);
    border: 2px solid rgba(0, 0, 0, .1);
    box-shadow: rgba(0, 0, 0, 0.075) 0px 1px 1px 0px inset;
    border-radius: 2px;
    border-left: none;
    line-height: 47px;
    font-size: 20px;
}

.button1 {
    display: inline;
    text-align: center;
    height: 56px;
    width: 141px;
    border-radius: 3px;
    font-size: 18px;
    padding: 5px 15px 5px 15px;
    text-align: center;
    line-height: 46px;
    letter-spacing: 0.4px;
    color: #ffffff;
    background-color: $blue-base;
    box-shadow: none;
    border-color: #4183d7;
    text-transform: uppercase;
    border: 0;
    i {
        padding-right: 5px;
    }
}

.button1:hover {
    background-color: $blue;
}

.button2 {
    display: inline;
    height: 56px;
    width: 149px;
    border-radius: 3px;
    font-size: 18px;
    padding: 5px 15px 5px 15px;
    text-align: center;
    line-height: 46px;
    letter-spacing: 0.4px;
    color: #ffffff;
    background-color: $ButtonPrimary;
    box-shadow: none;
    margin-left: 20px;
    text-transform: uppercase;
    border: 0;
    i {
        padding-right: 5px;
    }
}

.button2:hover {
    background-color: $ButtonHover;
}

.fa-paper-plane,
.fa-mouse {
    font-size: 23px;
}

.search-button2 {
    font-size: 24px;
    background-color: $ButtonPrimary;
}

.search-button2:hover {
    background-color: $ButtonHover;
}

.form {
    display: flex;
    margin-left: 20px;
}

.search-form {
    padding: 5px 15px;
    margin-right: -2px;
    border: 1px solid #e5e5e5;
    border-color: #ccc;
    box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
    &:focus {
        border-color: #5bc0de;
        outline: 0;
        box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%), 0 0 8px rgb(91 192 222 / 60%);
    }
}

.search-form:focus {
    border-color: #5bc0de;
    outline: 0;
    box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%), 0 0 8px rgb(91 192 222 / 60%);
}

@media screen and (min-width: $breakpoint1) {
    .search-container2 {
        display: flex;
        .search-form {
            display: flex;
        }
    }
    .bottom-container {
        display: none;
    }
    .container-phone {
        display: none;
    }
}

@media screen and (min-width: $breakpoint2) {
    .button-container {
        display: flex;
    }
}

@media screen and (min-width: $breakpoint3) {
    .search-form {
        display: flex;
        // min-width: 100px;
    }
}

@media screen and (max-width: 991px) {
    .search-form {
        display: flex;
        width: 174px;
    }
}

@media screen and (min-width: $breakpoint2) {
    .search-form {
        display: none;
    }
}

@media screen and (min-width: $breakpoint3) {
    .search-form {
        display: flex;
        width: 240px;
    }
}