@font-face {
    font-family: "Poppins";
    src: url("/fonts/poppins-v15-latin-regular.woff2") format("woff2");
}

* {
    // @font-face {
    //     font-family: "Poppins";
    //     src: url("../../fonts/poppins-v15-latin-regular.woff2") format("woff2");
    // }
    font-family: Poppins;
    // font-size: 16px;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    margin: 0px;
    font-size: 13px;
    // overflow: hidden;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.upper {
    text-transform: uppercase;
}

.main-container {
    display: flex;
    flex-direction: column;
}

#overlay {
    display: none;
    height: 100%;
    width: 100%;
    padding: 15px;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    left: 0;
    top: 0;
}

#cookie-overlay {
    display: none;
    height: 100%;
    width: 100%;
    padding: 15px;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    left: 0;
    top: 0;
}

.flex {
    display: flex!important;
}