.nav-flexcontainer {
    display: none;
}

.outer-container {
    width: 100%;
    background-color: $nav-background;
    display: flex;
    border: solid 1px;
    border-top-color: black;
    border-bottom-color: white;
}

.nav-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 18px;
    margin-left: auto;
    margin-right: auto;
    // padding-right: 15px;
    // padding-left: 15px;
    @media screen and (min-width: $breakpoint1) {
        width: 750px;
    }
    @media screen and (min-width: $breakpoint2) {
        width: 970px;
    }
    @media screen and (min-width: $breakpoint3) {
        width: 1200px;
    }
}

.design-button,
.support-button,
.services-button,
.software-button,
.marketing-button,
.security-button,
.training-button {
    display: flex;
    height: 104px;
    background-color: $nav-background;
    color: $white;
    text-align: center;
    padding-left: 18px;
    padding-right: 18px;
    border-right: 1px solid rgba(255, 255, 255, 0.1);
    border-left: 1px solid $white25;
    flex: 1;
    justify-content: center;
    @media screen and (min-width: $breakpoint2) {
        width: calc(950px / 7);
    }
    @media screen and (min-width: $breakpoint3) {
        width: calc(1199.5px / 7);
    }
    a {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

a {
    text-decoration: none;
    color: $white;
}

.uppercase {
    text-transform: uppercase;
    text-align: center;
    list-style-type: none;
}

.small {
    font-size: 10px;
    padding-bottom: 1px;
}

.icon {
    font-size: 18px;
    padding-bottom: 5px;
}

.fa-code {
    color: $purple-base;
    font-size: 18px;
}

.fa-desktop {
    color: $blue-base;
    font-size: 18px;
}

.phone2 {
    transform: rotate(-45deg);
    color: $red-base;
    font-size: 18px;
}

.software {
    color: $greyblue-base;
    font-size: 18px;
}

.fa-signal {
    color: $green-base;
    font-size: 18px;
}

.fa-shield-alt {
    color: $pink-base;
    font-size: 18px;
}

.fa-graduation-cap {
    color: $purple-base;
    font-size: 18px;
}

.design-container {
    &:hover {
        .design-button {
            background-color: $purple-base;
            .design-icon {
                color: white;
            }
        }
        .dropdown1-container {
            display: flex;
        }
    }
}

.support-container {
    &:hover {
        .support-button {
            background-color: $blue-base;
            .support-icon {
                color: white;
            }
        }
        .dropdown2-container {
            display: flex;
        }
    }
}

.services-container {
    &:hover {
        .services-button {
            background-color: $red-base;
            .phone2 {
                color: white;
            }
        }
        .dropdown3-container {
            display: flex;
        }
    }
}

.software-container {
    &:hover {
        .software-button {
            background-color: $greyblue-base;
            .software {
                color: white;
            }
        }
        .dropdown4-container {
            display: flex;
        }
    }
}

.marketing-container {
    &:hover {
        .marketing-button {
            background-color: $green-base;
            .marketing-icon {
                color: white;
            }
        }
        .dropdown5-container {
            display: flex;
        }
    }
}

.security-container {
    &:hover {
        .security-button {
            background-color: $pink-base;
            .security-icon {
                color: white;
            }
        }
        .dropdown6-container {
            display: flex;
        }
    }
}

.training-container {
    &:hover {
        .training-button {
            background-color: $purple-base;
            .training-icon {
                color: white;
            }
        }
        .dropdown7-container {
            display: flex;
        }
    }
}

%dropdown {
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    align-items: center;
    height: 45px;
    color: $white;
    z-index: 3;
}

.dropdown1-container {
    @extend %dropdown;
    background-color: $purple;
}

.dropdown2-container {
    @extend %dropdown;
    background-color: $blue;
}

.dropdown3-container {
    @extend %dropdown;
    background-color: $red;
}

.dropdown4-container {
    @extend %dropdown;
    background-color: $greyblue;
}

.dropdown5-container {
    @extend %dropdown;
    background-color: $green;
}

.dropdown6-container {
    @extend %dropdown;
    background-color: $pink;
}

.dropdown7-container {
    @extend %dropdown;
    background-color: $purple;
}

.dropdown-centre {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    a {
        display: flex;
        flex-direction: row;
    }
    li {
        padding: 0 15px;
        font-size: 13px;
        &:first-child {
            margin-left: -15px;
        }
        @media screen and (min-width: $breakpoint3) {
            font-size: 16px;
        }
    }
    @media screen and (min-width: $breakpoint1) {
        width: 750px;
    }
    @media screen and (min-width: $breakpoint2) {
        width: 970px;
    }
    @media screen and (min-width: $breakpoint3) {
        width: 1200px;
    }
}

@media screen and (min-width: $breakpoint2) {
    .nav-flexcontainer {
        display: flex;
        flex-direction: column;
    }
}