$black: #000000;
$white: #ffffff;
$white10: rgba(0, 0, 0, .1);
$white25: rgba(0, 0, 0, .25);
$white50: rgba(255, 255, 255, 0.5);
$ButtonPrimary: #999aa2;
$ButtonHover: #84858f;
$nav-background: #333645;
$purple-base: #926fb1;
$purple: #79539a;
$blue-base: #4183d7;
$blue: #286abd;
$red-base: #d64541;
$red: #bc2c28;
$greyblue-base: #67809f;
$greyblue: #526781;
$green-base: #2ecc71;
$green: #25a25a;
$pink-base: #f62459;
$pink: #de093f;
$breakpoint0: 576px;
$breakpoint1: 768px;
$breakpoint2: 992px;
$breakpoint3: 1260px;
$offwhite: #efefef;
$white2: #666666;